<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<style>
		* {
			margin: 0px;
			padding: 0px;
			overflow: hidden;
		}

		body {
			overflow: hidden;
			background-image: url("/images/city.png");
			background-attachment: fixed;
			background-size: cover;
		}

		.container {
			background-color: #14698799;
		}

		.content {
			color: white;
			width: fit-content;
			bottom: 0;
			text-align: center;
			margin: 40vh auto;
		}

		h1 {
			color: white;
			font-size: 50px;
			font-style: italic;
		}

		p {
			color: white;
			font-size: 25px;
			font-style: italic;
		}

		button {
			font-size: 18px;
			padding: 18px 100px;
			background-color: #003c57;
			color: #fff;
			border: 0px;
			border-radius: 25px;
			outline: none;
			margin-top: 30px;
			cursor: pointer;
			transition: 0.6s;
		}

		button:hover {
			background: #044969;
		}

		nav {
			width: 100%;
		}

		nav h2:first-child {
			margin-right: 28em;
		}

		nav h2 {
			font-weight: 900;
			margin: 0 3em;
		}

		footer {
			position: absolute;
			padding: 20px;
			bottom: 0;
			width: 100%;
			background-color: #003c57;
			color: #146987;
			font-style: unset;
			font-weight: bold;
		}

		footer p {
			color: #146987;
			font-style: normal;
			font-size: 14px;
		}

		@media only screen and (max-width: 600px) {
			* {}

			body {}

			.container {
				height: 100vh;
			}

			.content {
				width: 80%;
				bottom: unset;
				margin: 20vh auto;
			}

			button {
				padding: 10px 80px;
				border: 0px;
				border-radius: 20px;
				margin-top: 30px;
			}

			footer p {
				font-size: 14px;
			}
		}
	</style>
</head>

<body>
	<div class="container">
		{{!-- <nav>
			<h2 class="start">learnMine</h2>
		</nav> --}}

		<div class="content">
			<h1>Learn Mine!</h1>
			<br>
			<p>You are in the right place to learn 11 official South African languages</p>
			<form action="/languages" method="get">
				<button type="submit">Get Started</button>
			</form>
		</div>
		<footer>
			<p><a href="www.projectcodex.co" style="color: #83C310;">codeX</a> December &copy; 2020 Hackathon</p>
			<p>Luyolo | Simthemile | Lilitha | Xhanti</p>
		</footer>
	</div>

</body>

</html>